*{margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    }
    
    html,body{
        height: 100%;
        width: 100%;
    }
    #main{
        overflow: hidden;
    }
    #main>#nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        /* position: fixed; */
        width: 100%;
        height: 10vh;
        background:#2F3C69;
        /* margin-bottom: 30px; */
        padding: 0rem 7rem;
    }
    
    #logo>img{
        height: 15em;
        width: 15em;
        margin-bottom: 1rem;
    }
    #nav-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        color: black;
        font-size: 1.2rem;
    }
    
    #nav-items>h2{
        text-decoration: none;
        color: white;
        /* padding: 0 3rem; */
        padding-left: 5rem;
        cursor: pointer;
        /* transition: all 3s ease; */
    }
    
    #nav-items>h2:hover{
        color: grey;
    }
    #auth{
        display :flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 0rem;
  
    
        
    }

    #auth>button{
        margin-left: 1rem;
        background: transparent;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    
    }
    #auth>button>a{
        color: white;
        text-decoration:none;
    }
    #auth>button>a:hover{
        color: black;
    }
       #auth>button:hover{
        background: white;
        color: black;}


        #hero{
           
            padding-right: 2vw;
            padding-left: 4vw;
            position: absolute;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
               overflow: hidden;
               background-color: #E3DDDC;
        }
        #hero>h3{
            font-size: 2em;
            color: #2F3C69;
            position: absolute;
            margin-left: 5rem;
            margin-top: 4rem;
        }
     #hero>#bg-img{
            position: absolute;
            
            width: 30%;
          
           margin-top: 6rem;
            

         }
     
    
    #hero>h1{
        display: flex;
       
        margin-top: 2rem;
    
        font-size: 5vw;
        font-weight: 500;
        line-height: 5rem;
        text-transform: uppercase;
         margin-left: 29rem;
         z-index: 50;
         color:#2F3C69;
    }

    #hero>.btn>button{
        color: white;
        font-size: 2rem;
        font-weight: 100;
        text-transform: uppercase;
        background-color:brown;
        padding: 1% 2%;
        border-radius: 8rem;
        margin-top: 16rem;
        margin-left: 36%;
    }
    
    #hero>.btn>button:hover{
            background-color: white;
            color: black;
            cursor: pointer;
        }
    #hero>.right>ul{
       
        color: grey;
        margin-top: 10px;
        position: absolute;
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin-left:34rem ;
      
    }
    #hero>.left>ul{
      
        margin-left: 70%;
        color: grey;
        margin-top: 10px;
        position: absolute;
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin-left:59rem ;
        
    }
   

      

@media screen and (max-width:426px){
        #main{
            
        overflow: hidden;}


        #main>#nav>#auth,#nav-items{

            display: none;  
        }
        #main>#nav button{
            padding: 0rem 1rem;
            background-color: aliceblue;
            border-radius: 20px;
            margin-right: 5rem;
            margin-left: 3rem;
           
        }

        #main>#nav button a{
            margin: 1rem 0rem;
            color: black;
            background-color: aliceblue;
            text-decoration: none;
        }
         #main>#nav{
            height: 4rem;
            justify-content: space-evenly;
         }
         #main>#nav>#logo>img{
          
            width: 50vw;
            height: 20vh;
            margin-right: 30px;
           
         }
        #hero{
            overflow: hidden;
            height: 105%

        }
        #hero h3{
            margin-left: 10px;
            font-size: 9vw;
        }
        #hero>#bg-img {
            margin: 6rem 1.5rem;
            width: 15rem;
            height: 15rem;
        }
        #hero h1{
            overflow: hidden;
            font-size: 4vw;
            margin-left: 0;
            line-height: 1rem;
            justify-content: center;
            align-items: center;
          }
     
       #hero>.right>ul{
        margin-top: 20rem;
        margin-left: 12rem ;
        font-size: 0.7rem;
        line-height: 1rem;
       }
       #hero>.left ul{
        
          margin-top: 20rem;
          margin-left: 1rem;
          font-size: 0.7rem;
          line-height: 1rem;
       }
       #hero>.btn button {
    font-size: 1rem;
    margin: 0rem 4rem;
    margin-top: 140%;
       }
       #hero  #contacts{
        margin-top: 2rem;
       } 
       #hero  #contacts button{
        background: #2F3C69;
        border-radius: 2rem;
        padding: 1rem 1rem;
       }
       #hero  #contacts button a{
            color: red;
            text-decoration: none;
       }


      }
     
    